.order {
    position: relative;
    padding: 50px 100px 50px 0px;
}

.order::before{
    position: absolute;
    top: 440px;
    left: calc(50% - 980px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../img/leabes_befor.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.order::after{
    position: absolute;
    top: 280px;
    right: calc(50% - 980px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../img/leabes_after.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.order__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.order__inner::before{
    position: absolute;
    top: 900px;
    left: calc(50% - 1050px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../img/leabes.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.order__titlename {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    font-variant: small-caps;
    color: #555555;
}

.order__titlename:nth-child(5){
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    font-variant: small-caps;
    color: #000000;
    border-bottom:  3px dashed #C99B67;
}

.form{
    width: 660px;
}

.form__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.form__item {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}
.form__input:checked ~ .form__chekbox{
    background-color: #0A775F;
}

.form__input:checked ~ .form__chekbox,.form__hiading,.form__text{
    color: #FFFFFF;
}

.form__chekbox{
    width: 208px;
    padding: 30px 0 80px 16px;
    text-align: left;
    background-color: rgba(10, 119, 95, 0.2);
}

.form__title {
    display: inline-block;
    margin: 0;
    margin-right: 55px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    color: #000000;
    margin-bottom: 23px;
}
.form__img {
    display: inline-block;
    width: 14px;
    height: 10px;
    
}
.form__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.form__hiading {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-variant: small-caps;
    color: #333333;
    margin-bottom: 10px;
}

.form__text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333 
}
.form__textdiv {
    padding: 40px 20px;
    background-color: #C99B67;
    margin-bottom: 20px;
}
.form__span1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.form__span2 {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}
.form__btn {
    display: inline-block;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
    background-color: #0A775F;
    border-radius: 100px;
    border-color: transparent;
    margin-left: 455px;
}

.form__black{
    color: #333;
}